* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#loadPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}